.vscode/**
.secondbrain/**
src/**
scripts/**
release/**
node_modules/**
!node_modules/markdown-it/dist/markdown-it.min.js
*.ts
*.map
.gitignore
tsconfig.json
*.vsix
preview.html
temp/**
tests/**
out-test/**
tsconfig.test.json
