.vscode/**
.secondbrain/**
src/**
scripts/**
release/**
node_modules/**
!node_modules/markdown-it/dist/markdown-it.min.js
!node_modules/katex/dist/katex.min.css
!node_modules/katex/dist/fonts/**
!node_modules/markdown-it-texmath/css/texmath.css
*.ts
*.map
.gitignore
tsconfig.json
*.vsix
preview.html
temp/**
tests/**
out-test/**
tsconfig.test.json
plan/**
